@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&display=swap");
html {
  overflow-x: hidden;
  font-size: 16px;
  transition: all 0.4s ease-in;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.menu_open {
  height: 100vh;
  overflow: hidden;
}

body {
  line-height: normal !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul {
  margin-bottom: 0;
}

/* menu icon */
.menu_icon {
  right: 0;
  cursor: pointer;
  z-index: 999999999999;
  /* Icon 1 */
}
.menu_icon #nav-icon1,
.menu_icon #nav-icon2,
.menu_icon #nav-icon3,
.menu_icon #nav-icon4 {
  width: 2.3rem;
  height: 0.8rem;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.menu_icon #nav-icon1 span,
.menu_icon #nav-icon3 span,
.menu_icon #nav-icon4 span {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.45s ease-in-out;
}
.menu_icon #nav-icon1 span:nth-child(1) {
  top: 0px;
}
.menu_icon #nav-icon1 span:nth-child(2) {
  top: 10px;
  left: unset;
  right: 0;
}
.menu_icon #nav-icon1.open span:nth-child(1) {
  top: 5px;
  transform: rotate(135deg);
  width: 100%;
}
.menu_icon #nav-icon1.open span:nth-child(2) {
  top: 5.5px;
  transform: rotate(-135deg);
}

.text-f-1 {
  font-size: 0.5rem;
}

.text-f-2 {
  font-size: 1rem;
}

.text-f-3 {
  font-size: 1.5rem;
}

.text-f-4 {
  font-size: 2rem;
}

.text-f-5 {
  font-size: 2.5rem;
}

.text-f-6 {
  font-size: 3rem;
}

.text-f-7 {
  font-size: 3.5rem;
}

.text-f-8 {
  font-size: 4rem;
}

.text-f-9 {
  font-size: 4.5rem;
}

.text-f-10 {
  font-size: 5rem;
}

.text-w-100 {
  font-weight: 100;
}

.text-w-300 {
  font-weight: 300;
}

.text-w-700 {
  font-weight: 700;
}

.text-w-900 {
  font-weight: 900;
}

p {
  font-size: 1.5rem;
  line-height: 30px;
}

/* // Constant Styles */
.form-control {
  border-radius: 5px;
  background-color: #E2E2E2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.2);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .form-control {
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.section {
  position: relative;
}
.section .img_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.section .img_wrapper img,
.section .img_wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center center center;
     object-position: center center center center;
}

/* arrow animation */
.arrow_animation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.arrow_animation span {
  color: #fff;
  margin-top: 16px;
}

.innerpage-skelton .card_img .placeholder {
  width: 100%;
  height: 100%;
}

.card_img {
  position: relative;
}
.card_img .img_parent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card_img .img_parent img,
.card_img .img_parent video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splash {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash img {
  width: 150px;
}

.splachDisplayNone {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.my_navbar {
  background-color: #000;
  padding: 40px 0;
  position: sticky;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.my_navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my_navbar .wrapper .logo a {
  display: block;
}
.my_navbar .wrapper .logo a img {
  width: 120px;
}
.my_navbar .wrapper .burger_menue {
  display: flex;
  align-items: center;
}
.my_navbar .wrapper .burger_menue .contact {
  margin-right: 50px;
}
.my_navbar .wrapper .burger_menue .contact a {
  color: #fff;
}

.removeBackground {
  background-color: transparent;
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  box-shadow: none;
}

/* fixed_navbar */
/* side nav */
.side_nav {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
}
.side_nav .links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.side_nav .links li {
  margin-bottom: 2.6rem;
}
.side_nav .links li a {
  font-size: 2.6rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-bottom: 10px;
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
}
.side_nav .links li a.active {
  color: #000 !important;
}
.side_nav .links li a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0%;
  content: "";
  height: 2px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.side_nav .links li a:hover::after {
  width: 100%;
}
.side_nav .links li:last-child {
  margin-bottom: 0;
}
.side_nav .copy {
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.side_nav .copy h6 {
  font-size: 0.8rem;
}

.side_nav_open {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 999;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .side_nav {
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .removeBackground {
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/* fixed_image */
.fixed_image {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
.fixed_image .card_img {
  height: 100%;
}

.header_video {
  min-height: calc(100vh - 134px);
  position: relative;
}
.header_video .video_wrapper,
.header_video .video_behind {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header_video .video_wrapper video,
.header_video .video_behind video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header_video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}
.header_video .video_behind {
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.header_video .header_content {
  position: relative;
  min-height: calc(100vh - 134px);
  margin: auto;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 170px;
  z-index: 9;
}
.header_video .header_content h5 {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header_video .video_wrapper {
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/* about_us */
.about_us {
  padding: 17rem 0;
  position: relative;
  background-color: #fff;
}
.about_us .about_header {
  text-align: center;
  margin-bottom: 80px;
}
.about_us .about_contetn {
  padding-bottom: 134px;
}
.about_us .about_contetn h5 {
  font-size: 1.8rem;
  position: relative;
  padding-bottom: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.about_us .about_contetn h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 3px;
  background-color: #000;
}
.about_us .arrow_animation {
  bottom: 70px;
}
.about_us .arrow_animation span {
  color: #000;
  text-transform: capitalize;
}

/* our_products */
.our_products {
  background-color: #424242;
  padding: 5.5rem 0;
  min-height: calc(100vh - 140px);
}
.our_products .about_header {
  text-align: center;
  margin-bottom: 80px;
}
.our_products .our_product_slider .slider_item {
  margin: 0 16px;
}

.custom_arrow {
  margin-top: 30px;
}
.custom_arrow ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.custom_arrow ul li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0;
}
.custom_arrow ul li img {
  width: 45px;
}
.custom_arrow ul li:hover {
  background-color: #000;
  border-color: #000;
}

/* product_card */
.product_card {
  display: block;
}
.product_card .card_img {
  height: 594px;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
}
.product_card .card_img img {
  border-radius: 5px;
}
.product_card .card_title {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding: 55px 20px;
  position: relative;
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #000;
  text-transform: capitalize;
}
/* our_locations */
.our_locations {
  padding: 6rem 0;
  background-color: #fff;
  padding-bottom: 0;
}
.our_locations .about_header {
  margin-bottom: 80px;
}
.our_locations .map_parent {
  position: relative;
  height: 900px;
}
.our_locations .map_parent #map_canvas {
  height: 100%;
  width: 100%;
}
.our_locations .map_canvas_parent {
  position: relative;
  height: 100%;
  width: 100%;
}
.our_locations .map_canvas_parent .img_info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 450px;
  max-width: 100%;
}

/* news_media */
.news_media {
  padding: 5.5rem 0;
  background-color: #424242;
  min-height: calc(100vh - 140px);
  overflow: hidden;
}
.news_media .about_header {
  margin-bottom: 70px;
}
.news_media .blogs_wrapper {
  position: relative;
}
.news_media .main_blog {
  min-height: 843px;
  display: block;
}
.news_media .main_blog .card_img {
  min-height: 843px;
}
.news_media .main_blog .card_img img {
  -o-object-position: top;
     object-position: top;
  border-radius: 5px;
}
.news_media .main_blog .main_title {
  margin-top: 10px;
}
.news_media .main_blog .main_title p {
  font-size: 1rem;
  line-height: normal;
  margin-bottom: 0;
}
.news_media .small_blogs {
  min-height: 843px;
}
.news_media .small_blogs ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.news_media .small_blogs li {
  width: 49%;
  height: 254.3333333333px;
  margin-bottom: 40px;
  display: block;
}
.news_media .small_blogs li a {
  display: block;
}
.news_media .small_blogs li .card_img {
  height: 254.3333333333px;
}
.news_media .small_blogs li .card_img img {
  border-radius: 5px;
}
.news_media .small_blogs li .blog_title p {
  font-size: 1rem;
  margin-top: 12px;
  line-height: normal;
}
.news_media .custom_arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}
.news_media .custom_arrow ul {
  justify-content: space-between;
}
.news_media .custom_arrow ul .prev {
  left: -85px;
  position: relative;
}
.news_media .custom_arrow ul .next {
  right: -85px;
  position: relative;
}

.blogs_wrapper_slider .slick-list {
  margin: 0 -16px;
}

/* new_newsMedia_card */
.new_newsMedia_card {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 16px;
  min-height: 660px;
  max-height: 660px;
  position: relative;
  z-index: 9;
}
.new_newsMedia_card .card_img {
  height: 287px;
  border-radius: 5px;
}
.new_newsMedia_card .card_img img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -o-object-position: top;
     object-position: top;
}
.new_newsMedia_card .card_body {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.new_newsMedia_card .card_date {
  margin: 17px 0;
  text-align: center;
}
.new_newsMedia_card .card_date span {
  font-size: 0.9rem;
  color: #000000;
}
.new_newsMedia_card .card_title {
  margin-bottom: 10px;
  text-align: center;
  height: 60px;
}
.new_newsMedia_card .card_title h5 {
  font-size: 1rem;
  -webkit-line-clamp: 2 !important;
}
.new_newsMedia_card .card_text {
  height: 170px;
  overflow: hidden;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.new_newsMedia_card .card_text .render_html {
  height: 110px;
  overflow: hidden;
}
.new_newsMedia_card .card_text p {
  color: #909090;
  -webkit-line-clamp: 4 !important;
  text-align: center;
  font-size: 0.9rem;
  line-height: 23px;
}
.new_newsMedia_card .read_more {
  width: 100%;
  margin-top: 10px;
}
.new_newsMedia_card .read_more a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000;
  font-size: 1rem;
}
.new_newsMedia_card .read_more a:hover {
  background-color: #000;
  color: #fff;
}

/* sustainability */
.sustainability {
  padding: 17rem 0;
  position: relative;
  background-color: transparent;
}
.sustainability::after {
  content: "";
  background-color: rgba(95, 95, 95, 0.7);
}
.sustainability .about_header,
.sustainability p {
  position: relative;
  z-index: 4;
}

/* contact_us */
.contact_us {
  position: relative;
  min-height: 800px;
  height: auto;
  background-color: #fff;
}
.contact_us .card_img {
  min-height: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.contact_us .card_img::after {
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: 0;
  content: "";
  bottom: -1px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
.contact_us .contact_us_form {
  height: 100%;
  padding: 12rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 519px;
  max-width: 100%;
  margin: auto;
}
.contact_us .contact_us_form h5 {
  margin-bottom: 50px;
}
.contact_us .contact_us_form .form-group {
  margin-bottom: 30px;
}
.contact_us .contact_us_form .form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.contact_us .contact_us_form .form-group label span:nth-child(2) {
  color: red;
  margin-left: 5px;
}
.contact_us .contact_us_form .form-group .form-control {
  height: 50px;
  background-color: #E2E2E2;
  border: 0;
}
.contact_us .contact_us_form .form-group textarea.form-control {
  height: 134px;
  resize: none;
}
.contact_us .contact_us_form .btn_submit .btn {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 17px;
  text-align: center;
  display: block;
  width: 100%;
}
.contact_us .contact_us_form .btn_submit .btn:hover {
  background-color: #000;
  color: #fff;
}
.contact_us .contact_us_form .error {
  color: red;
  font-size: 0.9rem;
  margin-top: 8px;
}

/* inner_blog */
.inner_blog {
  min-height: calc(100vh - 142px);
  height: auto;
  position: relative;
  overflow: hidden;
}
.inner_blog .inner_blog_img {
  min-height: calc(100vh - 102px - 222px);
}
.inner_blog .inner_blog_img .card_img {
  min-height: calc(100vh - 102px - 222px);
  height: 100%;
  position: absolute;
  right: 0;
  width: 50%;
  display: flex;
  align-items: center;
}
.inner_blog .mobile_blog_image {
  width: 100%;
  height: 60vh;
  position: relative;
}
.inner_blog .mobile_blog_image .card_img {
  height: 100%;
}
.inner_blog .mobile_blog_image .card_img img {
  -o-object-position: center;
     object-position: center;
}
.inner_blog p {
  text-align: justify;
}
.inner_blog .blog_inner_blog_content {
  padding-right: 30px;
}
.inner_blog .inner_blog_content {
  padding-top: 100px;
  padding-bottom: 120px;
}
.inner_blog .inner_blog_content .about_header {
  position: relative;
  padding-bottom: 20px;
}
.inner_blog .inner_blog_content .about_header h5 {
  margin-bottom: 30px;
}
.inner_blog .inner_blog_content .about_header h6 {
  font-size: 1.7rem;
}
.inner_blog .inner_blog_content .about_header::after {
  position: absolute;
  content: "";
  width: 20%;
  bottom: 0;
  height: 2px;
  background-color: #000;
}
.inner_blog .inner_blog_content .inner_parg {
  margin-top: 30px;
}
.inner_blog .inner_blog_content .inner_parg p {
  font-weight: 400;
  font-size: 1.2rem;
}
.inner_blog .inner_blog_content .inner_parg p a {
  text-decoration: underline;
  color: #000;
}
.inner_blog .inner_blog_content .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  display: none;
}
.inner_blog .inner_blog_content .back_btn {
  margin-bottom: 50px;
}
.inner_blog .inner_blog_content .back_btn img {
  width: 40px;
}
.inner_blog .inner_blog_content .who-content .card_img {
  float: right;
  width: auto;
  width: 550px;
  max-width: 100%;
  max-height: 550px;
  margin-right: 30px;
  height: 550px;
  background-size: cover;
  background-position: top;
  margin-left: 50px;
}
.inner_blog .inner_blog_content .who-content p {
  font-size: 1.2rem;
  color: #000;
  margin-top: 10px;
  text-align: justify;
  line-height: 30px;
}
.inner_blog .blog_back_btn {
  margin-bottom: 50px;
}
.inner_blog .blog_back_btn img {
  width: 40px;
}
.inner_blog .back_btn_arrow {
  position: fixed;
  bottom: 40px;
  transform: translate(0, -50%);
  left: auto;
  border: 1px solid #000;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  border-radius: 50%;
  padding: 14px;
  padding-right: 18px;
  background-color: #fff;
  cursor: pointer;
  display: none;
}
.inner_blog .back_btn_arrow:hover {
  background-color: #000;
}

#nprogress .bar {
  z-index: 999999;
  background-color: #60A60C;
  height: 8px;
}

#nprogress .spinner {
  z-index: 999999;
}

#nprogress .spinner-icon {
  border: 2px solid transparent;
  border-top-color: #60A60C;
  border-left-color: #60A60C;
}

#nprogress .peg {
  box-shadow: 0 0 10px #60A60C, 0 0 5px #60A60C;
}

.inner_news .inner_parg .ScrollbarsCustom-Track {
  width: 5px !important;
}
.inner_news .inner_parg .ScrollbarsCustom-Wrapper {
  margin-right: 20px;
}
.inner_news .inner_blog_padding {
  padding-top: 50px;
}
.inner_news .inner_blog_content {
  padding-top: 0 !important;
}
.inner_news .inner_blog_img .card_img .img_parent {
  height: 60%;
  top: 0;
}
.inner_news .inner_blog_img .card_img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

/* footer */
.footer {
  background-color: #000;
  padding: 50px 0;
}
.footer .footer_social {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.footer .footer_social li {
  margin-right: 15px;
}
.footer .footer_social li i {
  font-size: 1.2rem;
  color: #fff;
}
.footer .footer_form {
  margin-top: 10px;
}
.footer .footer_form h5 {
  text-transform: capitalize;
}
.footer .footer_form .input-group {
  height: 50px;
}
.footer .footer_form .input-group input {
  background-color: #fff;
}
.footer .footer_form .input-group input,
.footer .footer_form .input-group button {
  height: 50px;
}
.footer .footer_form .input-group button {
  background-color: #424242;
  box-shadow: none;
  border-color: #424242;
  color: #fff;
  font-size: 0.9rem;
}
.footer .footer_form .error {
  color: #fff;
  margin-top: 5px;
}

/* copy_right */
.copy_right {
  background-color: #424242;
  padding: 16px 0;
}
.copy_right h5 {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

/* errorpage */
.errorpage {
  min-height: calc(100vh - 142px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorpage .wrapper {
  text-align: center;
}
.errorpage .wrapper img {
  display: block;
  width: 60%;
  margin: auto;
}
.errorpage .wrapper a {
  background-color: #fff;
  border: 1px solid #000;
  margin: 60px auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
  padding: 15px 30px;
  border-radius: 5px;
}
.errorpage .wrapper a:hover {
  color: #fff;
  background-color: #000;
}

/* Media Query */
@media (min-width: 1920px) {
  .my_navbar .container,
  .my_navbar .container-lg,
  .my_navbar .container-md,
  .my_navbar .container-sm,
  .my_navbar .container-xl,
  .my_navbar .container-xxl,
  footer.footer .container,
  footer.footer .container-lg,
  footer.footer .container-md,
  footer.footer .container-sm,
  footer.footer .container-xl,
  footer.footer .container-xxl,
  .news_media .container,
  .news_media .container-lg,
  .news_media .container-md,
  .news_media .container-sm,
  .news_media .container-xl,
  .news_media .container-xxl,
  .inner_blog .container,
  .inner_blog .container-lg,
  .inner_blog .container-md,
  .inner_blog .container-sm,
  .inner_blog .container-xl,
  .inner_blog .container-xxl {
    max-width: 1640px;
  }
}
@media (max-width: 1920px) {
  .our_products,
  .news_media {
    min-height: calc(100vh - 102px);
  }
  .header_video .header_content {
    padding-bottom: 110px;
    height: calc(100vh - 102px);
  }
  .header_video .header_content h5 {
    font-size: 3rem;
    width: 70%;
  }
  .header_video .card_img {
    height: calc(100vh - 102px);
  }
  .new_newsMedia_card {
    min-height: 500px;
    max-height: 500px;
  }
  .new_newsMedia_card .card_img {
    height: 200px;
  }
  .new_newsMedia_card .card_title {
    height: 30px;
  }
  .new_newsMedia_card .card_title h5 {
    -webkit-line-clamp: 2 !important;
  }
  .new_newsMedia_card .card_text {
    height: 140px;
  }
  .new_newsMedia_card .card_text p {
    -webkit-line-clamp: 4 !important;
  }
  .my_navbar {
    padding: 20px 0;
  }
  .about_us {
    padding: 9.3rem 0;
  }
  .arrow_animation {
    bottom: 0px;
  }
  .product_card .card_img {
    height: 400px;
  }
  .product_card .card_title {
    padding: 30px 20px;
  }
  .news_media {
    padding: 4rem 0;
  }
  .inner_blog {
    min-height: calc(100vh - 102px);
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 13px;
  }
  .sustainability {
    padding: 8rem 0;
  }
  .contact_us {
    min-height: 500px;
  }
  .contact_us .contact_us_form {
    padding: 5rem;
  }
  .contact_us .card_img {
    min-height: 500px;
  }
  .news_media .about_header,
  .our_locations .about_header,
  .our_products .about_header {
    margin-bottom: 40px;
  }
  .new_newsMedia_card {
    min-height: 480px;
    max-height: 480px;
  }
  .new_newsMedia_card .card_text {
    height: 130px;
  }
  .new_newsMedia_card .card_text p {
    -webkit-line-clamp: 4 !important;
  }
}
@media (max-width: 1280px) {
  .header_video .video_wrapper {
    top: 50%;
    transform: translate(0, -50%);
  }
  .header_video .video_wrapper video {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header_video .header_content h5 {
    font-size: 2.1rem;
    width: 70%;
  }
  .new_newsMedia_card {
    max-width: 90%;
    margin: auto;
  }
  .news_media .custom_arrow ul li {
    width: 45px;
    height: 45px;
  }
  .news_media .custom_arrow ul .prev {
    left: -55px;
  }
  .news_media .custom_arrow ul .next {
    right: -55px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }
  .my_navbar {
    padding: 25px 0;
  }
  .my_navbar .wrapper .logo a img {
    width: 90px;
  }
  .header_video {
    height: calc(100vh - 97px);
  }
  .header_video .header_content {
    padding-bottom: 70px;
  }
  .product_card .card_img {
    height: 350px;
  }
  .arrow_animation {
    bottom: 0;
  }
  .arrow_animation span {
    margin-top: 0;
  }
  .product_card .card_title {
    padding: 20px 20px;
  }
  .text-f-9 {
    font-size: 3rem;
  }
  .news_media .main_blog {
    min-height: auto;
    margin-bottom: 40px;
  }
  .new_newsMedia_card {
    max-width: 75%;
    margin: auto;
  }
  .news_media .custom_arrow ul li {
    width: 45px;
    height: 45px;
  }
  .news_media .custom_arrow ul .prev {
    left: -15px;
  }
  .news_media .custom_arrow ul .next {
    right: -15px;
  }
  .inner_blog .inner_blog_content {
    padding-right: 0;
  }
  .inner_blog .inner_blog_content .who-content .card_img {
    width: 450px;
    height: 450px;
  }
  .inner_blog .inner_blog_content .who-content p {
    line-height: 25px;
  }
  .inner_blog .blog_inner_blog_content {
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .text-f-9 {
    font-size: 3rem;
  }
  .header_video .header_content {
    padding-bottom: 90px;
  }
  .header_video .header_content h5 {
    width: 100%;
  }
  .arrow_animation span {
    margin-top: 5px;
  }
  .about_us .about_contetn h5 {
    font-size: 1.3rem;
  }
  .news_media .main_blog .card_img {
    min-height: 443px;
  }
  .contact_us .card_img {
    display: none;
  }
  p {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .contact_us .contact_us_form .form_wrapper {
    width: 80%;
  }
  .product_card .card_img {
    height: 300px;
  }
  .our_products {
    min-height: auto;
  }
  .our_products .custom_arrow ul li {
    width: 40px;
    height: 40px;
  }
  .news_media {
    min-height: auto;
  }
  footer .logo img {
    width: 120px;
  }
  .inner_blog .inner_blog_content {
    padding-top: 50px;
  }
  .inner_blog .inner_blog_img .card_img {
    opacity: 0.1;
  }
  .contact_us .contact_us_form h5 {
    margin-bottom: 1.5rem;
  }
  .contact_us .contact_us_form .form-group {
    margin-bottom: 20px;
  }
  .about_us .about_header,
  .our_products .about_header,
  .our_locations .about_header,
  .sustainability .about_header,
  .news_media .about_header {
    margin-bottom: 1.5rem;
  }
  .news_media .custom_arrow ul .prev {
    left: -25px;
  }
  .news_media .custom_arrow ul .next {
    right: -25px;
  }
  .inner_blog .inner_parg,
  .inner_news .inner_parg {
    height: auto;
  }
  .arrow_animation {
    display: none;
  }
  .inner_blog .inner_blog_content .who-content .card_img {
    display: none;
  }
}
@media (max-width: 600px) {
  .news_media .custom_arrow ul .prev {
    left: 0;
  }
  .news_media .custom_arrow ul .next {
    right: 0;
  }
  .our_locations .map_parent {
    height: 600px;
  }
  .news_media .custom_arrow ul li {
    width: 40px;
    height: 40px;
  }
  .news_media .custom_arrow ul .prev {
    left: -18px;
  }
  .news_media .custom_arrow ul .next {
    right: -18px;
  }
  .our_products,
  .news_media {
    min-height: auto;
  }
  .product_card .about_header {
    margin-bottom: 30px;
  }
  .product_card .card_img {
    height: 205px;
  }
  .product_card .card_img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .inner_blog .blog_inner_blog_content {
    padding-right: 0;
  }
  .new_newsMedia_card {
    max-width: 73%;
  }
}
@media (max-width: 524px) {
  .inner_blog .inner_blog_content .about_header h5 {
    font-size: 2rem;
  }
  .header_video {
    height: 40vh;
    min-height: auto;
  }
  .header_video .header_content {
    height: 100%;
    min-height: auto;
    padding-bottom: 20px;
  }
  .side_nav .links {
    margin-top: 50px;
  }
  .arrow_animation {
    display: none;
  }
  .header_video .header_content h5 {
    width: 100%;
    font-size: 1.5rem;
  }
  .news_media .small_blogs li {
    width: 100%;
  }
  footer .logo {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }
  footer .logo img {
    width: 120px;
  }
  footer .footer_social ul {
    justify-content: center;
  }
  footer .footer_social ul li {
    margin-right: 0 !important;
    margin: 0 15px;
  }
  .contact_us {
    min-height: auto;
  }
  .contact_us .contact_us_form {
    min-height: auto;
    padding: 3.5rem 0;
  }
  .our_products .our_product_slider .slider_item {
    margin: 0 5px;
  }
  .product_card .card_title {
    padding: 10px 20px;
  }
  .side_nav .links li a {
    font-size: 2rem;
  }
  .my_navbar .wrapper .burger_menue .contact {
    display: none;
  }
  .text-f-9 {
    font-size: 2.5rem;
  }
  .footer .footer_form {
    text-align: center;
  }
  .footer .footer_form h5 {
    text-transform: capitalize;
  }
  .about_us .about_contetn {
    padding-bottom: 0;
  }
  .our_products {
    padding: 3.5rem 0;
  }
  .our_products .card_title h5 {
    font-size: 1.2rem;
  }
  .our_locations,
  .news_media,
  .sustainability,
  .about_us {
    padding: 3.5rem 0;
  }
  .our_locations {
    padding-bottom: 0;
  }
  footer.footer {
    padding: 20px 0;
  }
  footer.footer .logo {
    margin-bottom: 12px;
  }
  footer.footer .logo img {
    width: 100px;
  }
  footer.footer .footer_form {
    width: 70%;
    margin: auto;
    margin-top: 15px;
  }
  footer.footer .footer_form h5 {
    font-size: 1.2rem;
  }
  footer.footer .footer_form .input-group {
    height: 35px;
  }
  footer.footer .footer_form .input-group input,
  footer.footer .footer_form .input-group button {
    height: 35px;
  }
}
@media (max-width: 320px) {
  .side_nav .links li a {
    font-size: 1.5rem;
  }
}
#ourlocation_section .gmnoprint .gm-style-mtc button {
  height: 30px !important;
  padding: 0px 7px !important;
  font-size: 15px !important;
}

/* Shared styles  */
.sustainability::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.news_media .small_blogs li .blog_title p, .new_newsMedia_card .card_title h5, .new_newsMedia_card .card_text p {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}/*# sourceMappingURL=glopal.css.map */